<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.foodsite.dao.CategoryDAO">
    
    <select id="getCategoryList" parameterType="String" resultType="category">
        SELECT 
            category_id,
            category_name AS categoryName,
            sub_category_name AS subCategoryName,
            sort_order
        FROM category
        WHERE category_name = #{category}
        ORDER BY sort_order ASC
    </select>
    
    <select id="selectCategoryFood" resultType="category" parameterType="String">
        SELECT 
            c.sort_order,
            c.category_id,
            c.category_name AS categoryName,
            c.sub_category_name AS subCategoryName,
            f.food_name AS foodName
        FROM food f
        JOIN category c ON f.category_id = c.category_id
        WHERE category_name = #{category}
        ORDER BY c.sort_order
    </select>

    
</mapper>